@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  @include flex-center;

  font-size: 100%;
  font-family: "Outfit", sans-serif;
}

// QR code
.qr-code {
  width: 320px;
  padding: 18px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 0 28px;
  box-shadow: 0 0 8px rgba(30, 30, 30, 0.1);
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-10px);
  }

  &-code {
    background-color: #3685fe;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 10px;
    transition: transform 0.3s;

    &:hover {
      transition-delay: 1s;
      transform: scale(1.5);
    }
  }

  &-content {
    padding: 30px 18px;
    text-align: center;
    transition: padding 0.3s;

    h3 {
      font-size: 1.3rem;
      color: hsl(218, 44%, 22%);
      margin-bottom: 20px;
    }
    p {
      color: hsl(220, 15%, 55%);
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
